body {
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: purple;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: purple;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
}

nav ul li:hover {
    background-color: #6a0dad;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav ul li ul li a {
    padding: 10px 20px;
}
